.NewProductSlider .swiper-button-prev {
  padding-left: 127px;
  color: white;
}
.NewProductSlider .swiper-button-next {
  padding-right: 127px;
  color: white;
}

.sliderImage{
  background-image: url("../../assets/Asset 6.png");
  width: 100%;
  height: 540px;
  background-size: cover;
}

@font-face {
  font-family: Richardson;
  src: url("../../Fonts/richard.otf");
}

.Richardson {
  font-family: Richardson;
}

@media only screen and (max-width: 600px) {
  .NewProductSlider .swiper-button-prev {
    display: none;
  }
  .NewProductSlider .swiper-button-next {
    display: none;
  }

  .sliderImage{
    background-image: url("../../assets/Asset 11.png");
    width: 100vw;
    height: 100vh;
  }
}
