.NewProductSlider .swiper-button-prev {
    padding-left: 127px;
    color: white;
  }
  .NewProductSlider .swiper-button-next {
    padding-right: 127px;
    color: white;
  }
  
  
  @font-face {
    font-family: Richardson;
    src: url('../../Fonts/richard.otf');
  }
  
  .Richardson{
    font-family: Richardson
  }